apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nats
spec:
  serviceName: "nats"
  replicas: 1
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
        - name: nats
          image: nats:latest
          args:
            - "-js"
            - "-sd"
            - "/data"
            - "-m"
            - "8222"
          ports:
            - containerPort: 4222
            - containerPort: 8222
          volumeMounts:
            - name: nats-storage
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: nats-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi

---

apiVersion: v1
kind: Service
metadata:
  name: nats
spec:
  clusterIP: None
  selector:
    app: nats
  ports:
    - name: client
      port: 4222
    - name: monitoring
      port: 8222

